@model InspireMe.Models.ResetPasswordViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Parola Sıfırlama"];
}

<script>
updateTitle('@ViewData["Title"]');
</script>
<h3>@Localizer["Şifremi Sıfırla"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" asp-controller="Accounts"  method="post" data-ajaxform data-parentid="ContentPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                <input asp-for="UserId" type="hidden" />
                <input asp-for="ResetToken" type="hidden" />
                
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="@Localizer["Parolamı Değiştir"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a data-ajax data-target="ContentPage" asp-action="Login" asp-controller="Accounts" >@Localizer["Geri Dön"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
