@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Gizlilik"];
}
<script>
updateTitle('@ViewData["Title"]');
</script>
<p>@Localizer["Gizlilik falan filan."]</p>
