html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#notificationdiv {
    width: 20%;
    top: 30px;
    right: 30px;
    font-weight: bold;
    z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
    text-align: center;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    #notificationdiv {
        width: 100% !important;
    }
}

.ui-dialog{
    z-index: 1060!important;
}
