@model InspireMe.Models.VerifyBookingViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] =  Localizer["Toplantı Onayla"];
}

<h4>@Localizer["Toplantı Onayla"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyRequestedBooking" asp-controller="Manage"  asp-area="Supervisor" method="post" data-ajaxform data-ajaxafter="$('#PageModal').modal('hide');" data-parentid="ContentPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input asp-for="Id" type="hidden" class="form-control" />
            
            <div class="form-group">
                <input type="submit" value="@Localizer["Onayla"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="#" data-bs-dismiss="modal">@Localizer["Kapat"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
